.text-c {
    text-align: center;
    align-items: center;
}

.last {
    width: 100vw;
    height: 30vh;
    background-repeat: no-repeat;
    background-image: url("./../../assets/img/ourvision.png");
    /* opacity: 0.9; */
    background-size: cover;
}
