.na-header-wrapper {
  height: 65vh;
  background: url(./assets/notification-app-header-bg.png) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
}

.na-header-text > h2 {
  font-size: 86px !important;
  font-weight: 700 !important;
  line-height: 120px !important;
  color: white;
  max-width: 1000px;
}
.na-header-text > p {
  font-size: 20px !important;
  color: white;
  line-height: 30px !important;
  max-width: 1000px;
  margin: 50px auto;
}
.na-white-btn {
  color: white !important;
}
.na-white-btn > a > img {
  color: white !important;
}

.mobile-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150vh;
  max-width: 1600px;
  width: 90vw;
  margin: 0 auto;
  flex-direction: column;
}
.mobile-section-text-wrapper {
  width: 500px;
}
.mobile-section-text-wrapper > h2 {
  font-size: 120px !important;
  line-height: 140px !important;
  font-weight: 700;
  margin-bottom: 20px !important;
}
.mobile-section-text-wrapper > p {
  font-size: 18px !important;
  line-height: 30px !important;
}

.mobile-hand-container {
  height: 160vh;
  position: absolute;
  top: 55vh;
  left: 100%;
  transform: translate(-100%, 0);
}

.mobile-hand-container > img {
  height: 100%;
}

.mobile-hand-container:after {
  content: '';
  height: 40vh;
  width: 100vw;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  mix-blend-mode: hard-light;
}

.na-features-wrapper {
  height: 100vh;
  width: 100%;
  background:  url('./assets/features-bg.png') center no-repeat;
  background-size: cover;
  color: white;
}

.na-features-top-row {
  width: 100%;
  text-align: center;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.na-features-top-row > h1 {
  font-size: 120px !important;
  font-weight: 700;
}

.na-features-top-row > p {
  font-size: 18px !important;
}

.na-features-bottom-row {
  border-top: 1px solid grey;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
.na-features-bottom-row {
  height: 70%;
  width: 100%;
  display: flex;
}
.na-features-col1,
.na-features-col2,
.na-features-col3 {
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
}
.na-features-col3 {
  border: none;
}

.na-features-col1-row1,
.na-features-col2-row1,
.na-features-col3-row1 {
  padding: 40px !important;
  border-bottom: 1px solid grey;
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.na-features-col2-row1 {
  flex: 0.6;
}

.na-features-col1-row2,
.na-features-col3-row2,
.na-features-col2-row2 {
  padding: 40px !important;
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.na-features-heading {
  font-size: 42px !important;
  line-height: 46px !important;
  font-weight: 700;
}
.na-features-p {
  font-size: 18px !important;
  line-height: 32px !important;
}

@media (max-width: 1400px) {
  .na-header-text > h2 {
    font-size: 68.8px !important;
    line-height: 96px !important;
  }
  .na-header-text > p {
    font-size: 16px !important;
    line-height: 24px !important;
    margin: 20px auto;
  }
  .mobile-section-text-wrapper > h2 {
    font-size: 96px !important;
    line-height: 89.6px !important;
    font-weight: 700;
    margin-bottom: 30px !important;
  }
  .mobile-section-text-wrapper > p {
    font-size: 14.4px !important;
    line-height: 24px !important;
  }
  .na-features-top-row > h1 {
    font-size: 96px !important;
  }
  .na-features-top-row > p {
    font-size: 14px !important;
  }
  .na-features-heading {
    font-size: 33.6px !important;
    line-height: 36.8px !important;
  }
  .na-features-p {
    font-size: 14.4px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 600px) {
  .na-header-wrapper {
    height: 80vh;
  }
  .na-header-text > h2 {
    font-size: 60px !important;
    line-height: 1;
    padding: 0 20px;
  }
  .na-header-text > p {
    font-size: 12px !important;
    padding: 0 20px;
  }
  .na-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  .mobile-hand-container {
    height: 50vh;
    position: absolute;
    top: 65vh;
    left: 100%;
    transform: translate(-100%, 0);
  }
  .mobile-hand-container:after {
    height: 100px;
    width: 50px;
  }
  .mobile-section-text-wrapper {
    padding: 0 20px;
    width: 100%;
  }
  .mobile-section-text-wrapper > h2 {
    font-size: 40px !important;
    line-height: 50px !important;
  }
  .mobile-section-text-wrapper > p {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .mobile-section-wrapper {
    height: 100vh;
  }

  .na-features-top-row > h1 {
    font-size: 50px !important;
  }
  .na-features-top-row > p {
    font-size: 12px !important;
  }
  .na-features-bottom-row {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .na-features-col1,
  .na-features-col2,
  .na-features-col3 {
    width: 100%;
  }
  .na-features-col1-row2 {
    border-bottom: 1px solid grey;
  }
  .na-features-wrapper {
    height: auto;
  }
  .na-features-top-row {
    height: 40vh;
  }

  .na-features-heading {
    font-size: 30px !important;
    line-height: 35px !important;
  }
  .na-features-p {
    font-size: 12px !important;
    line-height: 22px !important;
  }
}
