.gs-header-wrapper {
  width: 100vw;
  height: 60vh;
  background-color: #e6e6ef;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gs-header-wrapper > h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
  margin: 0;
}

.gs-header-wrapper > h6 {
  font-size: 48px;
  font-weight: 700;
  line-height: 0px;
  line-height: 100px;
  margin: 0;
}

.gs-header-wrapper > p {
  max-width: 90%;
  width: 800px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}

.gs-section-wrapper {
  height: 80vh;
  max-height: 1000px;
  padding: 80px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gs-section-white {
  background-color: white;
}
.gs-section-grey {
  background-color: #f5f5f7;
}
.gs-section-wrapper > div {
  width: 50%;
  max-width: 850px;
  height: 100%;
}

.gs-section-img > img {
  width: 100%;
}

.gs-section-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.gs-section-text > h2 {
  font-size: 80px;
  line-height: 100px;
  font-weight: 700;
  margin: 0;
  max-width: 150px;
}
.gs-section-text > h6 {
  font-size: 24px;
  font-weight: 600;
}
.gs-section-text > p {
  font-size: 16px;
  line-height: 30px;
  max-width: 500px;
}

@media (max-width: 1400px) {
  .gs-header-wrapper > h1 {
    font-size: 64px;
    line-height: 80px;
  }

  .gs-header-wrapper > h6 {
    font-size: 38.4px;
    line-height: 80px;
  }

  .gs-header-wrapper > p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .gs-section-wrapper > div {
    max-width: 800px;
  }

  .gs-section-text > h2 {
    font-size: 64px;
    line-height: 80px;
    max-width: 130px;
  }
  .gs-section-text > h6 {
    font-size: 19.2px;
  }
  .gs-section-text > p {
    font-size: 12.8px;
    line-height: 24px;
    max-width: 450px;
  }
}

@media (max-width: 600px) {
  .gs-header-wrapper > h1 {
    font-size: x-large;
    line-height: 1.5;
  }
  .gs-header-wrapper > h6 {
    font-size: large;
    line-height: 1.5;
  }
  .gs-header-wrapper > p {
    font-size: medium;
    margin-bottom: 20px;
  }
  .gs-section-wrapper {
    padding: 50px;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .gs-section-wrapper > div {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .gs-section-text > h2 {
    font-size: x-large;
    line-height: 1.5;
    max-width: 100%;
  }
  .gs-section-text > h6 {
    font-size: large;
    line-height: 1.5;
  }
  .gs-section-text > p {
    font-size: medium;
    max-width: 100%;
  }
}
