.about-us-top-wrapper {
  overflow-x: hidden;
}

.about-us-footer-wrapper {
  background-color: #f5f5f7;
  position: relative;
}

/* ABOUT US PAGE HEADER */
.about-us-header {
  height: 100vh;
  width: 100vw;
  background: url(./assets/about-us-header.png) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 0;
  position: fixed;
}

.about-us-header > h1 {
  font-weight: 600;
  font-size: xx-large;
  margin-bottom: 20px;
}

.about-us-header > h2 {
  font-weight: 600;
}

.about-us-header > p {
  font-weight: 400;
  font-size: medium;
  text-align: center;
}

.about-us-header > button {
  background: #06060a;
  border: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -200%);
  cursor: pointer;
  border-radius: 10px;
  font-size: small;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.about-us-header > button > a {
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-header > button:hover {
  background: linear-gradient(
    273.19deg,
    #00d1ff 0%,
    #6f3ff9 52.51%,
    #fa4ba7 100%
  );
}

.about-us-header > button > a > span {
  transition: all 0.3s ease;
}

.about-us-header > button:hover > a > span {
  transform: translateX(-5%);
}

.about-us-header > button:hover > a > img {
  transform: translateX(50%);
}

.about-us-right-btn-icon {
  height: 5px;
  width: 5x;
  margin-left: 10px;
  transition: all 0.6s ease;
}

/* WHO WE ARE */

.about-us-who-we-are-wrapper {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  margin-top: 100vh;
  background-color: white;
  z-index: 1;
  position: relative;
}
.about-us-who-we-are-wrapper > h1 {
  font-weight: 700;
  font-size: xx-large;
  margin-bottom: 20px;
}

.about-us-who-we-are-wrapper > p {
  font-weight: 400;
  font-size: medium;
  text-align: center;
}

.about-us-who-we-are-box {
  background-color: #1f2332;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: white;
  padding: 5px;
  font-size: medium;
  border-radius: 4px;
  width: 350px;
  height: 80px;
}
.about-us-who-we-are-box > h6 {
  margin: 0;
  font-weight: 700;
  font-size: large;
  background: -webkit-linear-gradient(300deg, #fa4b8b 0%, #00d1ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us-who-we-are-box > p {
  margin: 0;
}

/* OUR MISSION */
.about-us-our-mission-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.about-us-our-mission-wrapper h1 {
  font-weight: 700;
  font-size: xx-large;
  margin-bottom: 10px;
}

.about-us-our-mission-wrapper p {
  font-weight: 400;
  font-size: medium;
  text-align: center;
}

.about-us-our-mission-boxes-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
}

.about-us-our-mission-box {
  width: 100%;
  max-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #1f2332;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}
.about-us-our-mission-box img {
  width: 100px;
  object-fit: cover;
}

.about-us-our-mission-box h6 {
  font-size: large;
  font-weight: bold;
}

.about-us-our-mission-box p {
  font-size: x-small;
}

/* VISION */

.about-us-vision-wrapper {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}
.about-us-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/vision.png) center no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}
.about-us-vision-wrapper > div > h1 {
  z-index: 1;
  font-weight: 700;
  font-size: xx-large;
  margin-bottom: 10px;
}
.about-us-vision-wrapper > div > p {
  font-weight: 400;
  font-size: medium;
  text-align: center;
  margin-bottom: 20px;
  z-index: 1;
}
.about-us-img-bg > button {
  background-color: transparent;
  border: none;
  z-index: 1;
  transition: all 0.5 ease;
  position: relative;
}

.about-us-img-bg > button:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.about-us-img-bg > button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.about-us-img-bg > button > a {
  color: white;
  text-decoration: none;
}
.about-us-img-bg > button > a > img {
  height: 10px;
  width: 10x;
  margin-left: 10px;
}

/* MEDIA QUERRIES */
@media only screen and (min-width: 600px) {
  .about-us-header > h1 {
    font-size: 115px;
  }
  .about-us-header > h2 {
    font-size: 68px;
    line-height: 0.5;
  }
  .about-us-header > p {
    font-size: 14.5px;
    max-width: 70%;
    width: 1300px;
  }
  .about-us-header > button {
    border-radius: 6.4px;
    height: 43.2px;
    width: 205px;
  }

  .about-us-header > button > a > span {
    font-size: 14.5px;
  }
  .about-us-right-btn-icon {
    height: 12.8px;
    width: 4.8px;
  }

  /* who we are  */
  .about-us-who-we-are-wrapper {
    height: 150vh;
  }
  .about-us-who-we-are-wrapper > h1 {
    font-size: 86px;
    line-height: 1.2;
  }
  .about-us-who-we-are-wrapper > p {
    font-size: 19.2px;
    line-height: 28px;
    max-width: 80%;
    width: 1300px;
    font-weight: 500;
  }

  .about-us-who-we-are-boxes-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .about-us-who-we-are-box {
    height: 128px;
    width: 426px;
    border-radius: 6.4px;
  }

  .about-us-who-we-are-box h6 {
    font-size: 38.4px;
  }
  .about-us-who-we-are-box p {
    font-size: 19.2px;
  }

  /* OUR MISSION */
  .about-us-our-mission-wrapper h1 {
    font-size: 96px;
  }
  .about-us-our-mission-wrapper p {
    font-size: 14.4px;
  }
  .about-us-our-mission-boxes-wrapper {
    flex-direction: row;
    max-width: 95%;
    align-items: flex-start;
    margin-top: 50px;
  }
  .about-us-our-mission-box {
    height: 494.4px;
    width: 426.4px;
    max-height: 80%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    text-align: left;
    max-width: 33%;
    border-radius: 6.4px;
    margin: 10px;
  }
  .about-us-our-mission-box img {
    width: 280px;
    height: 224px;
    max-width: 100%;
    object-fit: cover;
    align-self: center;
    max-width: 80%;
  }
  .about-us-our-mission-box-text-wrapper {
    height: 60%;
  }
  .about-us-our-mission-box h6 {
    font-size: 38px;
  }
  .about-us-our-mission-box p {
    text-align: left;
    font-size: 12px;
    line-height: 18px;
  }

  /* VISION */

  .about-us-vision-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
  }
  .about-us-img-bg {
    width: 100%;
    height: 60%;
    position: relative;
    z-index: 0;
  }

  .about-us-vision-wrapper > div {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-us-vision-wrapper > div > h1 {
    font-size: 64px;
  }
  .about-us-vision-wrapper > div > p {
    font-size: 14.4px;
  }

  .about-us-img-bg > button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -300%);
    transition: all 0.2s ease;
  }
  .about-us-img-bg > button > a > span {
    font-size: 14.4px;
  }
  .about-us-img-bg > button > a > img {
    height: 12.8px;
    width: 4.8px;
  }
}

@media only screen and (min-width: 1400px) {
  .about-us-header > h1 {
    font-size: 144px;
  }
  .about-us-header > h2 {
    font-size: 85px;
  }
  .about-us-header > p {
    font-size: 18px;
    line-height: 30px;
    width: 1400px;
    max-width: 90%;
  }
  .about-us-header > button {
    border-radius: 8px;
    height: 54px;
    width: 256px;
  }
  .about-us-header > button > a > span {
    font-size: 18px;
  }
  .about-us-right-btn-icon {
    height: 16px;
    width: 6px;
  }

  /* who we are  */
  .about-us-who-we-are-wrapper > h1 {
    font-size: 120px;
  }
  .about-us-who-we-are-wrapper > p {
    font-size: 24px;
    line-height: 35px;
  }

  .about-us-who-we-are-box h6 {
    font-size: 48px;
  }
  .about-us-who-we-are-box p {
    font-size: 24px;
  }
  .about-us-who-we-are-box {
    width: 533px;
    height: 160px;
    border-radius: 8px;
  }
  /* OUR MISSION */
  .about-us-our-mission-wrapper h1 {
    font-size: 120px;
  }
  .about-us-our-mission-wrapper p {
    font-size: 18px;
  }
  .about-us-our-mission-box img {
    width: 280px;
    height: 224px;
    margin-bottom: 10%;
  }

  .about-us-our-mission-box {
    width: 426.4px;
    padding: 30px;
    height: 495px;
    justify-content: space-between;
    border-radius: 6.4px;
  }

  .about-us-our-mission-box h6 {
    font-size: 38.4px;
    font-weight: bold;
  }
  .about-us-our-mission-box p {
    font-size: 14.4px;
    line-height: 24px;
  }

  .about-us-img-bg > h1 {
    font-size: 80px;
  }
  .about-us-img-bg > p {
    font-size: 18px;
  }
  .about-us-img-bg > button > a > span {
    font-size: 18px;
  }

  /* VISION */
  .about-us-vision-wrapper > div > h1 {
    font-size: 80px;
    font-weight: bold;
  }
  .about-us-vision-wrapper > div > p {
    font-size: 18px;
  }
  .about-us-vision-wrapper > div > button > a > span {
    font-size: 18px;
  }
  .about-us-img-bg > button > a > img {
    height: 14px;
    width: 6px;
  }
}
