.nav-bg {
  backdrop-filter: blur(25px);
}
@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}

#formkickoff input[type='text'],
#formkickoff input[type='email'],
#formkickoff input[type='number'],
#formkickoff textarea {
  background-color: #ffffff !important;
}
#formkickoff .form-control::-webkit-input-placeholder {
  color: #2a324b;
}
#formkickoff h3 {
  color: #1f2332;
  font-style: normal;
  font-weight: bold;
}
